@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-layouts/styles/material.css";
/* @import '../node_modules/@syncfusion/ej2-layouts/styles/material.css' */


*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  background: white;
}

button{
  background-color: transparent;
  padding: 0;
  width: 100px; height: 50px;
}

button:hover{
  border-color: #bfe1e1;
  background-color: #bfe1e1;
}

form{
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
  margin-bottom: 150px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template: 70px 30px/auto auto;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.headerTitle {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-family: "Rubik Mono One", monospace;
  
}

.link{
  color: #252525;
}

.breadcrumb {
  font-family: "Roboto", sans-serif;
  /* Added margin-top for spacing */
  margin-top: 5px;
  margin-left: 10px;
}

.menu{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-right: 20px;
  
}

.menu li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  font-weight: lighter;
}


input[type=radio]{
  float: right;
  /* -webkit-appearance: none;
  appearance: none; */
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: lightgrey;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid lightgrey;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 50px;
  margin-left: 50px;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #bfe1e1;    
  }

  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid darkgoldenrod;
    outline-offset: max(2px, 0.15em);
  }


input[type=radio]:checked::after{
  background-color: darkgoldenrod;
}

.radio-inputs{
  list-style: none;
}

.label-input{
  margin-left: 10px;
}


.footer-links ul{
  list-style: none;
}


/* The switch - the box around the slider */
.switch {
  
  margin-right: 0;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position:absolute;
  cursor: pointer;
  display: inline-block;
  top: 0;
  left: 50px;
  right: -50px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: darkgoldenrod;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkgoldenrod;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-button{
  border: #252525 thin solid;
}

.form-button :hover{
  background-color: #bfe1e1;
}

.dashboard{
  margin-left: 30%;
  justify-content: space-between;
  display:grid;
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(2, auto);
  gap: 100px;
}

.AccDough{
  position:relative;
  top: 120px;
  /* border: #252525 thin solid; */
  margin-left: 20px;
  border-radius: 12px;
  width: 312px;
  height: 300px;
  background-color: white;
}

.barchart{
  position:relative;
  top: 60px;
  margin-left: 10px;
  border-radius: 12px;
  width: 312px;
  height: 300px;
}

@media( min-width:768px){
  body{
    background-color: white;
  }

  hr{
    display: none;
  }

  .burger{
    display: none;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
  }

  .card, .alarmCal-card{
    display: grid;
    grid-template-columns: 200px 200px;
    /* display: flex;
    flex-direction: column; */
    align-items: left;
    justify-content: left;
    margin-left: 30px; 
    margin-right: -50%;
    margin-bottom: 30px;
    border-radius: 12px;
    height: fit-content;
    background-color: #bfe1e1;
  }
  
  .application-cards{
    font-family: "Roboto", sans-serif;
    margin-top: 100px;
    margin-bottom: 150px;
  }
  
  .application-card{
    display: grid;
    grid-template-columns: 200px 200px;
    /* display: flex;
    flex-direction: column; */
    align-items: left;
    justify-content: left;
    margin-left: 30px; 
    margin-right: -50%;
    margin-bottom: 30px;
    border-radius: 12px;
    height: fit-content;
    background-color: #bfe1e1;
  
  }
  
  .card-title{
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
  }
  
  .card-input, .alarmCasub-card{
    float: left;
    border-radius: 12px;
    border-color: transparent;
    background-color: white;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    width:270px;
    font-size: 17px;
    padding-top: 12px;
    padding-left: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .application-input{
    float: left;
    border-radius: 12px;
    border-color: transparent;
    background-color: white;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    width:270px;
    font-size: 17px;
    padding-top: 12px;
    padding-left: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  }
  
  .application-input:hover{
    border: #252525 thin solid;
  }

  .form-label{
    margin-left: 30px;
    width:270px;
    white-space: nowrap;
  }

  .form-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:30px;
    margin-right: 0;
    margin-bottom: 30px;
    border-radius: 12px;
    height: fit-content;
  }

  .application-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 12px;
    height: fit-content;
    left: 0;
    right: 0;
    margin-left:30px;
    margin-right: 0;
  }
  

  .mob-footer{
    display: none;
  }
}

.des-footer{
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  
}

.footer-links li{
  display: inline-block;
  margin-left: 10px;
}

.react-calendar {
  /* width: 350px; */
  position: fixed;
  top: 100px;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 100%;
  background: white;
  line-height: 1.125em;
  height: fit-content;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar button {
  /* margin: 0; */
  margin-top: 10px;
  border: black thin solid;
  border-radius: 0;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  margin-left: 30px;
  margin-right: 50px;
}


.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  border: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #bfe1e1;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: lightgrey;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  height: 100px;
}

.react-calendar__tile--now {
  background: #E5A560;
}




@media( max-width:767px){
  
  body{
    background-image: url("background--img.png");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
  }


  .menu{
    display: none;
  }

  .mob-menu{
    font-family: "Roboto", sans-serif;
    background-color: #bfe1e1;
    height: 100vh;
    max-height: 620px;
    width: 100%;
    max-width: 320px;
    position: absolute;
    top: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    text-align: left;
    font-size: 13px;
    left: 50%;
    transform: translateX(-50%);

  }

  .mob-menu-title, .card-title{
    Width:270px;
    Left:21px;
    margin-left: 21px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    padding-bottom: 12px;
  }

.mob-menu ul{
  list-style: none;
  border-radius: 12px;
  background-color: white;
  margin-top: 40px;
  margin-left: 20px;
  Width:270px;
  Height:370px;
  Top:188px;
  Left:21px;
}

.mob-menu li {

  Width:270px;
  Top:221px;
  Left:21px; 
  font-size: 17px;
  height: 48px;
  padding-top: 12px;
  padding-left: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  gap: 12px;
 
}

hr.menu-solid{
  Width:256px;
  Top:112px;
  Left:36px;
  border-top: 2px solid #252525;
}

hr.solid {
  border-top: 3px solid #bfe1e1;
  margin-top: 0;
  margin-left: 18px;

}

.application-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.application-cards{
  margin-top: 100px;
  margin-bottom: 150px;

}

.card{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50%;
  margin-right: 50%;
  background-color: #bfe1e1;
  height: fit-content;
  max-height: 620px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: left;
  text-align: left;
  font-size: 13px;
  border-radius: 12px;
}

.application-card{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  background-color: #bfe1e1;
  height: fit-content;
  max-height: 620px;
  width: 100%;
  max-width: 767px;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: left;
  text-align: left;
  font-size: 13px;
  border-radius: 12px;

}

.alarmCal-card{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50%;
  margin-right: 50%;
  background-color: #bfe1e1;
  height: 50px;
  max-height: 620px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: left;
  text-align: left;
  font-size: 13px;
  border-radius: 12px;

}

.card-title{
  Width:200px;
  Left:21px;
  margin-left: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  padding-bottom: 12px;
}

.sub-card{
  background-color: white;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
  width: fit-content;
}

.form-label{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alarmCasub-card{
  background-color: white;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
}

.card-input{
  border-radius: 12px;
  border-color: transparent;
  background-color: white;
  margin-top: 5px;
  margin-left: 10px;
  Width:270px;
  font-size: 17px;
  padding-top: 12px;
  padding-left: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.application-input{
  border-radius: 12px;
  border: #bfe1e1 thin solid;
  background-color: white;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  Width:270px;
  font-size: 17px;
  padding-top: 12px;
  padding-left: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.card-input:hover{
  border: thin solid;
}

.application-input:hover{
  background-color: #bfe1e1;
}


.radio-inputs{
  list-style: none;
  margin-top: 40px;
  margin-left: 20px;
  Top:188px;
  Left:21px;
}

.radio-inputs li{
  padding-top: 5px;
  padding-left: 18px;

}

.radio-input{
  float: right;
  display: block;
  margin-right: 50%;
  margin-top: 5px;
}

.label-input{
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
  margin-left: 5px;
  margin-top: 5px;
}

.form-btns{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  bottom: 68px;
  height: 68px;
  width: 100%;
  right: 0;
}

.application-btns{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  bottom: 68px;
  height: 68px;
  width: 100%;
  right: 0;
}

.form-button{
  margin-left: 15px;
  margin-right: 15px;
}

.form-button:hover{
  background-color: #bfe1e1;
}

.des-footer{
  display: none;
}

.mob-footer{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  bottom: 0;
  right: 0;
  left: 0;
}

.react-calendar {
  margin-left: 0;
  max-width: 100%;
}

.dashboard{
  top:200px;
  margin-left: 10px;
  justify-content: space-between;
  display:flex;
  flex-wrap: wrap;
}

.AccDough{
  top: 200px;
}

}